@font-face {
    font-family: warFont;
    src: url('../fonts/war.otf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    font: 20px Arial;
}
*:focus {
    outline: none;
}
.main-screen {
    display: flex;
    flex-direction: column;
    background-image: url('../img/1.png');
    width: 100vw;
    height: 100vh;
    color: #fff;
}
.main-screen h1 {
    padding-top: 5vh;
    padding-bottom: 1vh;
    text-align: center;
    font: 17vh warFont, Arial;
}
.main-screen .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 709px;
    width: 100%;
}
.main-screen .start .name {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
.btn {
    max-height: 54px;
    cursor: pointer;
    padding: 9px;
    margin: 1%;
    max-width: 150px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 9px;

}
#canvas {
    display: none;
}
.game-form {
    width: 100%;
    text-align: center;
}
.inform {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ff0000;
}
.restart {
    display: none;
    max-width: 300px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.restart .my-score {
    padding: 4%;
    margin-bottom: 9%;
}
#rules {
    display: none;
    background-image: url('../img/a.png');
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.rules-wrapper h1 {
    padding-bottom: 8vh;
}
.rules-wrapper ul li {
    padding-bottom: 4vh;
}
#ScoreName {
    width: 50%;
    float: left;
}
#ScoreValue {
    width: 50%;
    float: right;
}
#score{
    position: relative;
    bottom: 50px; 
    max-width: 320px;
    width: 100%;
    margin-left: 1%;
}
.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media screen and (max-width: 700px) {
    .main-screen h1 {
        font: 17vw warFont, Arial;
    }
}